.container{
    width: 700px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto ;
    flex-wrap:wrap ;
    color:  #FFFFFF;
    

}
.box{
    display:flex;
    flex-direction: row;
    background-color: #407BFF;
    align-items: center;
    justify-content: center;
    
}

.imagemlogo{
 position:absolute;
 left: 2%;

}
