.container{
    width: 700px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto ;
    color:  #FFFFFF;
}
.box{
    display:flex;
    background-color: #407BFF;
    align-items: center;
    width: 100%;
}

.imagemlogo{
 position:absolute;
 left: 2%;

}
